<nav class="navbar navbar-light">
  <div class="container-fluid">
    <img class="navbar-brand logo" src="../../assets/images/logo.png" (click)="navigateHome()">
    <div class="user-login d-flex">
      <h1 class="username">{{username}}</h1>

      <div class="dropdown">

          <img src={{image}} alt="user-image" class="user-image dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">

        <ul class="dropdown-menu dropdown-menu-end menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" routerLink="/my-profile" routerLinkActive="active-link"  >Profile</a></li>
          <li><a class="dropdown-item" routerLink="/my-rides" routerLinkActive="active-link">My Rides</a></li>
          <li><a class="dropdown-item" (click)="logout()" routerLink="/login">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
