<app-navbar></app-navbar>
<form action="" [formGroup]="profileForm" (submit)="updateUserProfile()">
<div class="row profile">

  <div class="col-4">
    <div class="mt-5 mb-2 ms-5">
      <img src={{user.imageSrc}} alt="" class="profile-img">
      <div class="ms-2 ">
        <h4 class="ms-4">{{user.displayName}}</h4>
        <p class="ms-2">{{user.email}}</p>
        <input type="file" class="form-control" (change)="createUrl($event)">
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="heading mt-3 mb-3">
      <h3>User Details</h3>
    </div>

      <div class="mt-2">
       <div class="row">
        <div class="col">
          <label for="fname">FirstName</label>
          <input type="text" class="form-control" id="fname" formControlName="firstName" [placeholder]="user.firstName">
        </div>
        <div class="col">
          <label for="lname">LastName</label>
          <input type="text" class="form-control" id="lname" formControlName="lastName" [placeholder]="user.lastName">
        </div>
       </div>
       <div class="row mt-1">
        <div class="col">
          <label for="dob">Date Of Birth</label>
          <input  class="form-control" id="dob" formControlName="dob" [placeholder]="user.dob" onfocus="(this.type='date')">
        </div>
        <div class="col">
          <label for="gender">Gender</label>
          <select class="form-select" formControlName="gender">
            <option [selected]="(user.gender=='')?true:false">None</option>
            <option value="Male" [selected]="(user.gender=='Male')?true:false">Male</option>
            <option value="Female" [selected]="(user.gender=='Female')?true:false">Female</option>
          </select>
        </div>
       </div>
       <div class="row mt-1">
        <div class="col">
          <label for="mobile">Mobile</label>
          <input type="text" class="form-control" id="mobile" formControlName="mobile" [placeholder]="user.mobile">
        </div>
        <div class="col">
          <label for="dname">DisplayName</label>
          <input type="text" class="form-control" id="dname" formControlName="displayName" [placeholder]="user.displayName">
        </div>
       </div>
       <button type="submit" class="btn save mt-3 mb-2" >SaveChanges</button>
      </div>

  </div>
</div>
</form>
