<div class="row">
  <div class="col-8">
      <img src="../../assets/images/logo.png" alt="logo" class="logo">

      <div class="title">
        <h1 class="title-header">TURN <span class="text-miles">MILES</span></h1>
        <h1 class="title-header">INTO <span class="text-money">MONEY</span></h1>
        <p class="title-text">R I D E S &nbsp; O N &nbsp; T A P</p>
      </div>

      <div class="image-container">
        <img src="../../assets/images/auth-page-image.png" alt="landing-page-image" class="landing-page-image">
      </div>
  </div>

  <div class="col-4 auth">
    <router-outlet></router-outlet>
  </div>

</div>
