/* You can add global styles to this file, and also import other style files */
:root{
  --primary-1:#fcac22;
  --primary-2:#9319FF;
  --secondary:#20202cd6;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}
